body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main
{
    flex-grow: 1;
}

.card 
{
    height: 500px;
}

.cardMiembros{
    width: 100%; 
    height: 100%;
}

.imgMiembros{
    max-width: 300px;
    max-height: 300px;
}

.articulos, .miembros
{
    justify-content: center;
}

.publicidadImg {
  display: none;
}